# LoRA Hyperparameters
# Reference: https://huggingface.co/docs/peft/conceptual_guides/lora

lora:
  r: 16
  lora_alpha: 32
  lora_dropout: 0.05
  target_modules:
    - q_proj
    - k_proj
    - v_proj
    - o_proj
    - gate_proj
    - up_proj
    - down_proj
  bias: "none"
  task_type: "CAUSAL_LM"

quantization:
  load_in_4bit: true
  bnb_4bit_quant_type: "nf4"
  bnb_4bit_compute_dtype: "bfloat16"
  bnb_4bit_use_double_quant: true

model:
  name: "mistralai/Mistral-7B-v0.3"
  max_seq_length: 2048
  dtype: "bfloat16"
